body
{
    background: #000099;
    font-family : "Helvetica", "Arial";
    text-align: center;

    
}

h1{
    color:#ffffff;


}

li{
    padding:10px;
    border-radius: 5px;
    background: #ffffff;
    margin : 10px;

}

ul{ list-style: none ;}

form>input{ border-radius: 3px; }

form>input[type="submit"]{ border-radius: 8px; }